name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print rustc version
        run: rustc --version
      - name: Install build dependencies
        run: |
          sudo /usr/bin/apt update && sudo /usr/bin/apt install -y wget zip libssl-dev libcrypto++-dev
          sudo /bin/mkdir /protobuf/
          sudo chown $(whoami) /protobuf/
          cd /protobuf/
          wget https://github.com/protocolbuffers/protobuf/releases/download/v24.3/protoc-24.3-linux-x86_64.zip
          unzip protoc-24.3-linux-x86_64.zip
          mv /protobuf/bin/protoc /usr/sbin/
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/cache
            target/release
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Build
        run: cargo build --release
      - name: Run tests
        run: cargo test --release
